.all-layout {
	min-height: 100vh;
}
.site-layout.light {
	background-color: #d4bfbf;
}.site-layout.dark {
	background-color: rgb(59, 58, 58);
}
.site-layout-background2 {
	padding: 20px;
	/* min-height: 1700px !important; */
}
.site-content {
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 16px;
	min-height: 1700px;
}
