.all-layout {
	min-height: 100vh;
}
.site-layout {
	background-color: #d4bfbf;
}
.site-layout-background {
	padding: 20px;
	/* min-height: 1700px !important; */
}
.site-content {
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 16px;
	min-height: 1700px;
}
.site-footer {
	padding-top: 0px;
	text-align: center;
	background-color: #d4bfbf;
}
