.blogHeader {
	background-image: url(./image/blogHeader.gif);
	background-position: center;
	background-size: cover;
	position: relative;
	height: 1000px;
	width: auto;
	background-repeat: no-repeat, repeat;
}

@media screen and (max-width: 1600px) {
	.blogHeader {
		height: 800px;
	}
}
@media screen and (max-width: 1024px) {
	.blogHeader {
		height: 700px;
		width: 1024px;
	}
}
