.blogHeader {
	background-image: url(./image/blogHeader2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	height: 700px;
	max-width: 1805px;
	background-repeat: no-repeat;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.blogBody {
	margin-left: 50px;
	margin-right: 50px;
	min-height: 1200px;
	background-color: rgba(250, 250, 250, 0.39) !important;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list {
	padding-left: 200px;
	padding-right: 200px;
	min-height: 1000px;
}
.swiper-wrapper2 {
	padding-inline-start: 0;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 5px 10px #8888887a;
}
.swiperContainer2 {
	width: 100%;
	height: 200px;
}

.swiper-slide2 {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 200px;
}
.ml2 {
	font-weight: bolder;
	font-size: 80px;
	color: #6242d1;
	text-shadow: 2px 2px 5px;
	margin-left: 860px;
	padding-top: 90px;
}

.ml2 .letter {
	display: inline-block;
	line-height: 1em;
}

@media screen and (max-width: 1600px) {
	.list {
		margin-left: 20px;
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media screen and (max-width: 960px) {
	.blogHeader {
		background-image: url(./image/blogHeader.gif);
		background-size: contain;
		height: 475px;
	}

	.list {
		margin-left: 0px;
		padding-left: 70px;
		padding-right: 70px;
	}
	.ml2 {
		visibility: hidden;
	}
}
