.blogHeader {
	background-image: url(./image/blogHeader.gif);
	background-position: center;
	background-size: cover;
	position: relative;
	height: 1000px;
	width: auto;
}

@media screen and (max-width: 1600px) {
	.blogHeader {
		height: 800px;
	}
}
@media screen and (max-width: 960px) {
	.blogHeader {
		height: 500px;
	}
}
